* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#loadingIndicator {
	display: none;
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin: 20px 0;
}

#characterInfoDiv {
	display: none; /* Ensure it's hidden initially for animation purposes */
}

body {
	line-height: 1.6;
	background: url("https://i.imgur.com/pemOt9D.png");
	background-size: cover;
	font: 16px "Roboto Mono", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-size: cover; /* Ensures the image covers the entire background */
	background-attachment: fixed; /* Keeps the image fixed when scrolling */
	background-position: center; /* Centers the image */
	background-repeat: no-repeat; /* Prevents the image from repeating */
	will-change: transform; /* Optimizes rendering by hinting the browser */
	-webkit-transform: translate3d(0, 0, 0); /* Forces hardware acceleration for smoother rendering */
	transform: translate3d(0, 0, 0); /* Forces hardware acceleration for smoother rendering */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

footer {
	margin-top: auto;
	background-color: rgba(24, 3, 38, 0.8);
	color: white;
	width: 100%;
	text-align: center;
	padding: 10px;
}

#mainSection {
	flex-grow: 1;
	width: 100%;
	max-width: 800px;
	padding: 20px;
	background: rgba(104, 18, 166, 0.9);
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

main {
	background: rgba(56, 7, 89, 0.9);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 800px;
}

header h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 36px;
	color: #8E1ED9;
	background-color: #fff;
	padding: 10px;
	border-radius: 8px;
}

article {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}

button {
	padding: 10px 20px;
	background-color: #380759;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #180326;
}

#characterInfo {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#characterInfo h2 {
	border-bottom: 2px solid #8E1ED9;
	padding-bottom: 10px;
	margin-bottom: 20px;
	width: 100%;
}

#characterInfo img, #corporationLogo, #allianceLogo, #characterPortrait {
	display: block;
	margin: 0 auto 20px;
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	border: 2px solid #000;
	background-color: #fff;
}

#characterInfo p, .character-info p {
	margin: 10px 0;
}

#characterInfo strong {
	color: #8E1ED9;
}

#characterInfo a {
	color: #8E1ED9;
	text-decoration: none;
}

#characterInfo a:hover {
	text-decoration: underline;
}

/* Header and Navigation Styling */
#navheader {
	background-color: #380759;
	color: #fff;
	padding: 20px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	width: 100%;
}

#navheader h1 {
	margin: 0;
	font-size: 24px;
}

#navheader nav ul {
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
}

#navheader nav ul li {
	display: inline;
	margin-right: 10px;
}

#navheader nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	background-color: #000;
	padding: 5px 10px;
	border-radius: 4px;
}

#navheader nav ul li a:hover {
	text-decoration: underline;
	background-color: #444;
}

#characterInfoDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.character-info {
	flex: 1 1 50%; /* Make each info section take up 50% of the width */
	padding: 10px;
	box-sizing: border-box;
}

#corporationInfo, #allianceInfo {
	flex: 1 1 50%; /* Make each corp/alliance section take up 50% of the width */
	padding: 10px;
	box-sizing: border-box;
	text-align: right; /* Align text to the right */
}

#corporationName, #allianceName {
	margin-top: 10px; /* Add margin to separate logo and text */
}

.left-column {
	flex: 1 1 60%; /* Left column takes 60% of the width */
	padding: 10px;
	box-sizing: border-box;
}

.right-column {
	flex: 1 1 40%; /* Right column takes 40% of the width */
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-end; /* Align items to the right */
}

.right-column img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	border-radius: 8px;
	border: 2px solid #000;
	background-color: #fff;
}

.right-column p {
	text-align: left; /* Align text to the left */
	overflow: hidden;
	text-overflow: ellipsis; /* Handle overflow with ellipsis */
}